body{
    background-color: #0b1426 !important;
}
#head{
    background-color: #0b1426 !important;

}
.btn{
    background-color: #0b1426 !important;
    border-color: white !important;
}
.btnc{
    background-color: rgba(64, 243, 243, 0.413) !important;
    color: rgb(41, 133, 166) !important;
    
}